In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression,Lasso,Ridge

In [2]:
#カテゴリデータのダミー化
#p211
#1線形回帰で行なったダミー変数を整形する前のデータをcsvfileに変換し、machine_learningのディレクトリに置く
#2それを使い、dtypesを使い、型を確認し、ダミー化したいカラムを文字列(object型)に変換する
#3get_dummiesを使ってdataframe全てを対象にダミー化する(数値データはダミー化されない)
#4dataframeをターゲットと特徴量に分ける 
#5sklearn のいくつかの回帰モデルを使って学習させる
#alphaの値を調節して良い結果が出ればそれを報告する

In [3]:
origin_data=pd.read_csv("2017_Grilled_chicken_ml",encoding="UTF-8")

In [4]:
origin_data["uri_su"].fillna(0,inplace=True)

In [5]:
origin_data=origin_data.astype({"hour":"str","month":"str","youbi":"str"})

In [6]:
origin_data.dtypes

Unnamed: 0      int64
datetime       object
uri_su        float64
hour           object
month          object
youbi          object
weekofyear      int64
price         float64
weather       float64
avg_temp      float64
snow          float64
sekisetu      float64
dtype: object

In [7]:
origin_data.head()

,Unnamed: 0,datetime,uri_su,hour,month,youbi,weekofyear,price,weather,avg_temp,snow,sekisetu
0,0,2017-01-01 09:00:00,0.0,9,1,6,1,498.000000,0.0,2.7,0.0,0.0
1,1,2017-01-01 10:00:00,3.0,10,1,6,1,449.333333,0.0,3.4,0.0,0.0
2,2,2017-01-01 11:00:00,3.0,11,1,6,1,355.333333,0.0,5.0,0.0,0.0
3,3,2017-01-01 12:00:00,0.0,12,1,6,1,498.000000,0.0,5.0,0.0,0.0
4,4,2017-01-01 13:00:00,1.0,13,1,6,1,298.000000,0.0,6.4,0.0,0.0

In [8]:
origin_data.drop(["Unnamed: 0","datetime"],axis=1,inplace=True)

In [9]:
origin_data.head()

,uri_su,hour,month,youbi,weekofyear,price,weather,avg_temp,snow,sekisetu
0,0.0,9,1,6,1,498.000000,0.0,2.7,0.0,0.0
1,3.0,10,1,6,1,449.333333,0.0,3.4,0.0,0.0
2,3.0,11,1,6,1,355.333333,0.0,5.0,0.0,0.0
3,0.0,12,1,6,1,498.000000,0.0,5.0,0.0,0.0
4,1.0,13,1,6,1,298.000000,0.0,6.4,0.0,0.0

In [10]:
origin_data["month_youbi_hour"]=origin_data[["hour","month","youbi"]].apply(lambda x:"{}_{}_{}".format(x[0],x[1],x[2]),axis=1)

In [11]:
origin_data.head()

,uri_su,hour,month,youbi,weekofyear,price,weather,avg_temp,snow,sekisetu,month_youbi_hour
0,0.0,9,1,6,1,498.000000,0.0,2.7,0.0,0.0,9_1_6
1,3.0,10,1,6,1,449.333333,0.0,3.4,0.0,0.0,10_1_6
2,3.0,11,1,6,1,355.333333,0.0,5.0,0.0,0.0,11_1_6
3,0.0,12,1,6,1,498.000000,0.0,5.0,0.0,0.0,12_1_6
4,1.0,13,1,6,1,298.000000,0.0,6.4,0.0,0.0,13_1_6

In [12]:
data_dummies=pd.get_dummies(origin_data)

In [13]:
display(data_dummies.head())

,uri_su,weekofyear,price,weather,avg_temp,snow,sekisetu,hour_10,hour_11,hour_12,...,month_youbi_hour_9_8_4,month_youbi_hour_9_8_5,month_youbi_hour_9_8_6,month_youbi_hour_9_9_0,month_youbi_hour_9_9_1,month_youbi_hour_9_9_2,month_youbi_hour_9_9_3,month_youbi_hour_9_9_4,month_youbi_hour_9_9_5,month_youbi_hour_9_9_6
0,0.0,1,498.000000,0.0,2.7,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,1,449.333333,0.0,3.4,0.0,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,1,355.333333,0.0,5.0,0.0,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,1,498.000000,0.0,5.0,0.0,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1.0,1,298.000000,0.0,6.4,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
data_dummies.columns

Index(['uri_su', 'weekofyear', 'price', 'weather', 'avg_temp', 'snow',
       'sekisetu', 'hour_10', 'hour_11', 'hour_12',
       ...
       'month_youbi_hour_9_8_4', 'month_youbi_hour_9_8_5',
       'month_youbi_hour_9_8_6', 'month_youbi_hour_9_9_0',
       'month_youbi_hour_9_9_1', 'month_youbi_hour_9_9_2',
       'month_youbi_hour_9_9_3', 'month_youbi_hour_9_9_4',
       'month_youbi_hour_9_9_5', 'month_youbi_hour_9_9_6'],
      dtype='object', length=1301)

In [15]:
feature=data_dummies.ix[:,"weekofyear":"month_youbi_hour_9_9_6"]
x=feature.values
y=data_dummies["uri_su"].values

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [16]:
y.shape

(5220,)

In [17]:
x.shape

(5220, 1300)

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [19]:
#lr=LinearRegression().fit(x_train,y_train)

In [20]:
#print("train set score: {:.2f}".format(lr.score(x_train,y_train)))
#print("test set score:{:.2f}".format(lr.score(x_test,y_test)))

In [21]:
Ridge=Ridge(alpha=0.1).fit(x_train,y_train)

In [22]:
print("train set score: {:.2f}".format(Ridge.score(x_train,y_train)))
print("test set score:{:.2f}".format(Ridge.score(x_test,y_test)))

train set score: 0.52
test set score:0.07

In [23]:
lasso=Lasso().fit(x_train,y_train)

In [24]:
print("train set score: {:.2f}".format(lasso.score(x_train,y_train)))
print("test set score:{:.2f}".format(lasso.score(x_test,y_test)))
print("number of features used:{}".format(np.sum(lasso.coef_!=0)))

train set score: 0.02
test set score:0.01
number of features used:2

In [25]:
lasso=Lasso(alpha=0.001,max_iter=10000).fit(x_train,y_train)

In [26]:
print("train set score: {:.2f}".format(lasso.score(x_train,y_train)))
print("test set score:{:.2f}".format(lasso.score(x_test,y_test)))
print("number of features used:{}".format(np.sum(lasso.coef_!=0)))

train set score: 0.41
test set score:0.23
number of features used:297

In [27]:
from sklearn.model_selection import cross_val_score
lasso=Lasso(alpha=0.001,max_iter=10000)

In [28]:
score=cross_val_score(lasso,x,y,cv=12)

In [29]:
print("cross_val_score:{}".format(score))

cross_val_score:[ 0.02921644 -0.32937825  0.17137031  0.17565933  0.23535716  0.26380863
  0.24758948  0.02741905  0.09069836  0.11364542  0.16329472  0.16851393]

In [30]:
print("Average cross_val_score:{}".format(score.mean()))

Average cross_val_score:0.11309954791059273

In [31]:
best_score=0
for alpha in [0.0001,0.001,0.01,0.1,1,10,100]:
    #lasso=Lasso(alpha=alpha,max_iter=10000)
    #lasso.fit(x_train,y_train)
    #score=lasso.score(x_test,y_test)
    Ridge=Ridge(alpha=alpha).fit(x_train,y_train)
    score=Ridge.score(x_test,y_test)
    if score>best_score:
        best_score=score
        best_param={"alpha":alpha}
print("Best_score:{:.2f}".format(best_score))
print("Best parameters:{}".format(best_param))

TypeError: 'Ridge' object is not callable

In [ ]:
#データを(訓練+検証セット)とテストセットの分割する
best_score=0
x_trainval,x_test,y_trainval,y_test=train_test_split(x,y,random_state=0)
#(訓練+検証セット)を訓練セットと検証セットに分類する
x_train,x_valid,y_train,y_valid=train_test_split(x_trainval,y_trainval,random_state=1)
for alpha in [0.0001,0.001,0.01,0.1,1,10,100]:
    #lasso=Lasso(alpha=alpha,max_iter=10000)
    #lasso.fit(x_train,y_train)
    #score=lasso.score(x_valid,y_valid)
    Ridge=Ridge(alpha=alpha).fit(x_train,y_train)
    score=Ridge.score(x_valid,y_valid)
    if score>best_score:
        best_score=score
        best_param=alpha
#lasso=Lasso(alpha=best_param,max_iter=10000).fit(x_trainval,y_trainval)
#test_score=lasso.score(x_test,y_test)
Ridge=Ridge(alpha=best_param,max_iter=10000).fit(x_trainval,y_trainval)
test_score=Ridge.score(x_test,y_test)
print("Best score on validation set:{:.2f}".format(best_score))
print("Best parameters:",best_param)
print("test set score with best parameters:{:.2f}".format(test_score))

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [ ]:
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt
reg=DecisionTreeRegressor(min_samples_split=12).fit(x_train,y_train)
plt.plot(x_test,reg.predict(x_test),label="decision tree")
#reg=LinearRegression().fit(x_train,y_train)
#plt.plot(x_test,reg.predict(x_test),label="linear regression")
#plt.plot(x_test[:,0],y_test,"o",c="k")

In [ ]:
x_test.shape

In [ ]:
y_test.shape